*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#screen{
    width: 100%;
    height: 140vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.inner-main{
    width: 25%;
    height: 112vh;
    /* border: 1px solid red; */
    margin-top: 1%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inner-top{
    width: 100%;
    height: 95vh;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    width: 100%;
    height: 25%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 60%;
    height: 60%;
}

.logo h3{
    /* border: 1px solid red; */
    width: 80%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: 800;
    color: rgb(115,115,115);
}

.register-form{
    width: 100%;
    height: 40%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-form input{
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    margin-bottom: 2%;
    padding: 10px;
    font-size: 0.9em;
    border: 1px solid lightgrey;
    border-radius: 1px;
}

.privacy-policy{
    width: 90%;
    height: 30%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: auto;
}

.more{
    width: 96%;
    height: 30%;
    margin: auto;
    /* border: 1px solid red; */
}

.more p{
    text-align: center;
    font-size: 0.8em;
    color: rgb(115,115,115);
}

.more span{
    color: rgb(0,112,184);
}

.policy{
    width: 97%;
    height: 30%;
    margin: auto;
    /* border: 1px solid red; */
}

.policy p{
    text-align: center;
    font-size: 0.8em;
    color: rgb(115,115,115)
}

.policy span{
    color: rgb(0,112,184);
}

.submitButton{
    width: 100%;
    height: 22%;
    /* border: 1px solid red; */
    margin: auto;
}

.submitButton button{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: rgb(0,112,184);
    color: white;
    font-size: 0.95em;
    font-weight: bold;
    border-radius: 10px;
}

.inner-bot{
    width: 100%;
    height: 15vh;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-bot p{
    font-size: 0.9em;
}

.inner-bot span{
    color: rgb(0,149,246);
}

#screen1{
    width: 100%;
    height: 120vh;
    /* border: 1px solid red; */
    display: flex;
}

.left{
    width: 50%;
    height: 100%;
    /* border: 1px solid blue; */
    position: relative;
    overflow: hidden;
    left: 16%;
    top: -5%;
}

.left img{
    position: absolute;
    top: -20%;
    left: 0;
    width: 73%;
    height: 135.5%;
    scale: 0.5;
}

.main-image{
    position: absolute;
    top: 0.5%;
    left: -13.6%;
    width: 80%;
    height: 100%;
    background-image: url("https://static.cdninstagram.com/images/instagram/xig/homepage/phones/home-phones.png?__makehaste_cache_breaker=HOgRclNOosk");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    scale: 0.8;
}

.right{
    width: 30%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.inner-right{
    width: 75%;
    height: 112vh;
    /* border: 1px solid red; */
    margin-top: 2%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container{
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
}

.navbar{
    width: 20%;
    height: 100%;
    position: fixed;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid lightgrey;
}

.insta-logo{
    width: 100%;
    height: 10%;
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid red; */
}

.insta-logo img{
    width: 60%;
    margin-left: 5%;
    /* border: 1px solid red; */
}

.navbar-items{
    width: 100%;
    height: 75%;
    /* border: 1px solid red; */
}

.section{
    width: 90%;
    height: 12%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.section:hover{
    border-radius: 10px;
    background-color: lightgrey;
}

.section p{
    padding-left: 10px;
    cursor: default;
}

.more-tab{
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
}

.sectionTab{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    /* margin-top: 2%; */
    /* border: 1px solid red; */
}

.sectionTab:hover{
    border-radius: 10px;
    background-color: lightgrey;
}

.sectionTab p{
    padding-left: 10px;
    cursor: default;
}

.main-content{
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    /* position: relative; */
    /* left: 20%; */
    margin-left: auto;
    display: flex;
}

.main-left{
    width: 65%;
    height: 100%;
    border: 1px solid red;
}

.main-right{
    width: 35%;
    height: 70%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.main-right-top{
    width: 100%;
    height: 80%;
    border: 1px solid red;
}

.main-right-bot{
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
}

.main-right-bot-top{
    width: 100%;
    height: 50%;
    /* border: 1px solid red; */
}

.main-right-bot-top p{
    font-size: 0.75em;
}

.main-right-bot-bot{
    width: 100%;
    height: 30%;
    /* border: 1px solid red; */
    display: flex;
    font-size: 0.75em;
}







.footer{
    width: 100%;
    height: 15vh;
    /* border: 1px solid lightgrey; */
}

.inner-footer{
    width: 70%;
    height:70%;
    /* border: 1px solid red; */
    margin: auto;
}

.inner-footer-top{
    width: 90%;
    height: 30%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    margin-bottom: 1%;
    justify-content: space-between;
}

.inner-footer-bot{
    width: 27%;
    height: 30%;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footer-items{
    display: flex;
}

.footer-items p{
    white-space: nowrap;
    font-size: 0.7em;
    color: rgb(115,115,115);
}

.footer-items-bot{
    width: 20%;
    height: 20%;
    border: 1px solid red;
}